body{
    background-image: url('../images/front.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70em;
    flex-direction: column;
    
}
.home_page{
    color: aliceblue;
    font-size: 5em;
    align-items: center;
}
.button{
  background-color: #045aaa;
  border: none;
  padding: 1vw 3vh;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  cursor: pointer;
  border-radius: 1rem;
  
}
.button a{
  color: aliceblue;
  text-decoration: none;
}
@media (max-width:600px) {
  .home_page{
    font-size: 2em;
  }
}
