body{
    background-image: url('../images/typesbg.png');
    background-repeat: repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    width:100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.name{
    font-family:fantasy;
    text-align: center;
    font-size: 100px;
    color: rgba(24, 20, 41, 0.921);
}
img:hover {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5); 
}
.image{
    margin-left: 60%;
}
img{
    margin-top: 10%;
    transition: transform .2s;
    width: 28em;
    height: 25em;
}
.data-subheader{
    list-style: none;
    min-width: 10em;
    text-align: left;
    background-color: rgb(44, 92, 121);
    margin-left: 20%;
    padding: 4px;
    display: block;
    border-radius: 5px;
    color: #fff;

}
.data-header{
    list-style: none;
    min-width: 10em;
    text-align: left;
    background-color: rgb(67, 135, 141);
    margin-left: 20%;
    padding: 4px;
    display: block;
    border-radius: 5px;
    color: #fff;

}
.data-info{
    padding-left: 0;
    display: grid;
    max-width: 35em;
    grid-template: repeat(5, 1fr) / repeat(6, 1fr);
    grid-template-rows: min-content 1fr;
    grid-gap: 2em;
    grid-auto-flow: row;
    text-align: center;
}
.text{
    color: rgb(2, 11, 17);
    font-size: 250%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#b{
    background-color: rgb(16, 15, 97);
    color: aliceblue;
    border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

}
.button{
    display: inline-flex;
    position:absolute;
  
}
.data-info li{
    list-style-type: none;
}
@media (max-width:600px) {
    .name{
        font-size: 4em;
    }
    .image{
        margin-left: 25%;
    }
    img{
        width:14em;
        height:15em;
    }
    .text{
        margin-top: 10%;
    }
    img:hover {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5); 
    }
    .data-subheader{
        min-width: 6em;
        text-align: center;
    }
    .data-header{
        min-width: 6em;
        text-align: center;
    }

}
